@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
}
body {
  background-color: grey;
  padding: 45px;
}
.card {
  background-color: white;
  width: 300px;
  padding: 0 0 35px 0;
  border-radius: 10px;
}
.image {
  padding: 5px;
}
.image img {
  width: 290px;
  border-radius: 10px;
}
.content {
  padding: 5px;
  font-size: 13px;
}

.content h2 {
  padding: 2px;
}
.content p {
  font-size: 13px;
  padding: 4px;
  color: grey;
}
.capsules {
  padding: 0 20px 0 15px;
}
.capsules span {
  font-size: 10px;

  border: 1px solid grey;
  padding: 2px 15px;
  border-radius: 10px;
  color: grey;
}
.button {
  text-align: center;
}

.button button {
  margin-top: 10px;
  font-size: 13px;
  border: none;
  padding: 5px 20px;
  border-radius: 10px;
  background-color: rgb(157, 216, 255);
  color: rgb(4, 111, 199);
  cursor: pointer;
}

.button button:hover {
  background-color: rgb(17, 92, 143);
  color: rgb(255, 255, 255);
}
